{% extends 'base.html' %}

{% block content %}
  <h1>Author:</h1>
  <div class="m-lg-3">
    {{ author.first_name }} {{ author.last_name }}
    <hr>
    {% if author.date_of_birth %}
      {{ author.date_of_birth|date:"F j, Y" }} -
    {% else %}
      Unknown -
    {% endif %}
    {% if author.date_of_death %}
      {{ author.date_of_death|date:"F j, Y" }}
    {% else %}
      Present
    {% endif %}
  </div>
{% endblock %}