{% extends 'base.html' %}

{% block content %}
  <h1>Create Author</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>

{% endblock %}