{% extends "base.html" %}

{% block content %}
  <h1>Authors:</h1>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
        <li>
          <a href="{% url 'catalog:author-detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No authors are available.</p>
  {% endif %}
{% endblock %}