{% extends 'base.html' %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>
  <p><strong>Price: </strong>{{ book.price }}</p>
  <p><strong>Genre: </strong>{{ book.genre }}</p>
  <hr>
  <div class="m-lg-3">
    <h3>Authors:</h3>
    {% if book.authors.all %}
      <ul>
        {% for author in book.authors.all %}
          <li>
            <a href="{% url 'catalog:author-detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>
          </li>

        {% endfor %}
      </ul>
    {% else %}
      <p>No authors!</p>
    {% endif %}
  </div>
{% endblock %}