{% extends "base.html" %}

{% block content %}
  <h1>Book list:</h1>
  {% if book_list %}
    <ul>
      {% for book in book_list %}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }} ({{ book.genre }})</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books are available.</p>
  {% endif %}

{% endblock %}
