{% extends "base.html" %}

{% block title %}
  <title>Library: home page</title>
{% endblock %}

{% block content %}
  <h1>Welcome to the Library!</h1>
  <hr>
  <p>current data and time: {{ datetime }}</p>
  <br>
  <h2>Library contains:</h2>
  <ul>
    <li>{{ num_books }} books are available.</li>
    <li>{{ num_authors }} authors are available.</li>
    <li>{{ num_genres }} genres are available.</li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</p>
{% endblock %}
