{% extends 'base.html' %}

{% block content %}
  <h1>Literary genre list</h1>
  {% if literary_genre_list %}
    <ul>
      {% for literary_genre in literary_genre_list %}
        <li>{{ literary_genre.genre }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No literary genres are available.</p>
  {% endif %}
{% endblock %}
